header{
    height:30px;
    background-color: blueviolet;
    position: sticky;
    top:0;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    margin-left: 20px;
    font-size: 30px;
    display: inline;
}

ul,li{
    display: inline;
    float:right;
    list-style: none;
    margin-top: 3px;
}

li{
    margin-right: 20px;
}


h2{
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

p{
    width: 600px;
    margin-left: 250px;
    margin-top: 40px;
}


.img1{
    width: 400px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.img2{
    margin-top: 20px;
    margin-left: 350px;
}

footer{
    background-color: gray;
}

.footer{
    padding-top: 20px;
    width: 25px;
    margin-left: 30px;
}


